<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <% include partials/head %>


</head>

<body>
 
    <% include partials/navigation %>
    <br>
<div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/img/LOGOA2.png" class="animate bounceIn img-fluid" alt="Responsive image">
            </div>
        </header>
</div>
<br>


<!-- seccion 1 -->
<div class="container-fluid">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-twitter fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Sigueme en twitter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, odit accusantium minima tempora recusandae hic tempore sed excepturi soluta eius, sit aperiam nihil nesciunt molestias vitae quasi nostrum, fugiat voluptates.</p>
                </div>
        </div>
    </div>


<% include partials/footer %>
</body>

</html>