<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <% include partials/head %>
</head>
<body>

   
    <% include partials/navigation %>
    
    <div class="container p-5">
            <div class="row">
                    <div class="card-columns text-center animate bounceIn">
                            <div class="card">
                              <img src="/img/LOGOA2.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">alberto guzman</h5>
                                <p class="card-text">Nacido en 1993 en la cuidad de morelia con el gusto del desarrrolo web y la musica electronica.</p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted"><%= new Date()%></small>
                              </div>
                            </div>
                            <div class="card">
                              <img src="/img/LOGOA2.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">alberto guzman</h5>
                                <p class="card-text">Nacido en 1993 en la cuidad de morelia con el gusto del desarrrolo web y la musica electronica.</p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted"><%= new Date()%></small>
                              </div>
                            </div>
                            <div class="card">
                              <img src="/img/LOGOA2.png" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">alberto guzman</h5>
                                <p class="card-text">Nacido en 1993 en la cuidad de morelia con el gusto del desarrrolo web y la musica electronica.</p>
                              </div>
                              <div class="card-footer">
                                <small class="text-muted"><%= new Date()%></small>
                              </div>
                            </div>
                          </div>
                
            </div>
            
        </div>

       
    </div>
  </div>

        
    <% include partials/footer %>
</body>
</html>